* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.content {
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-color: #ccc;
}

.content .text {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 25px;
    animation: js 5s alternate infinite;
    border: 3px solid black;
    background-color: #FCE000;
}

.content .text h1 {
    font-size: 40px;
    position: absolute;
    bottom: 5%;
    right: 10%;
}